@import url(https://fonts.googleapis.com/css?family=Roboto:300);


/*        Estilos Index       */

body {
  background: #76b852;
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
  text-align: center;
}
.formulario {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formulario input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formulario button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formulario button:hover,.formulario button:active,.formulario button:focus {
  background: #43A047;
}
.formulario .link_login {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formulario .link_login a {
  color: #4CAF50;
  text-decoration: none;
}

.formulario .link_registro {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formulario .link_registro a {
  color: #4CAF50;
  text-decoration: none;
}

.formulario .form-registro {
  display: none;
}


/*        Estilos Main       */
.bienvenida{
  display: flex;
  border: #4CAF50 1px dotted;

}
  #usrBienvenido{
    background: #f2f2f2;
    color: #4CAF50;
    margin: 0;
    padding: 5px;
    font-size: .7rem;
    font-weight: bold;
    width: 50%;
  }
  #fecha{
    background: #f2f2f2;
    color: #4CAF50;
    margin: 0;
    padding: 5px;
    font-size: .7rem;
    font-weight: bold;
    text-align: right;
    width: 50%;
  }
.titulo{
  text-align: center;
}
.instrucciones{
  font-size: .7rem;
  color:#000;
}

td{
  height: 2px;
  text-align: center;
  margin: 5px;
}

h1 h2 h4{
 text-align: c
 enter;
 color:gray;
}

#contenedorPadre{
  display:flex;
  }

#ingresoDatos{
  width: 15%;
  margin: 5px;
  text-align: center;
  background-color:#fff;
}

button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 90%;
  border: 0;
  padding: 15px;
  font-size: 11px;
  color: #FFFFFF;
  margin: 5px 0 5px 0;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover{
  background: #43A047;
}

input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  margin: 5px 0 5px 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 11px;
}

#muestroDatos{
  width: 50%; 
  margin: 5px;
  padding: 0 20px;
  text-align: center;
  background-color:#fff;
}

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

thead{
  padding: 20px;
	background-color: #4CAF50;
  font-size: .8rem;
	color: white;
}

th, td{
	padding: 5px;
  font-size: .8rem;
}

tr:nth-child(even){
  background: #f2f2f2;
}

.btn_borrar{
  font-size: 10px;
  border-radius: 15%;
  width: 70%;
  padding: 3px;
  background-color: red ;
  color:yellow;
}
.btn_borrar:hover{
  background-color: yellow;
  color:red;
}

#verEstadisticas{
  width: 35%;
  margin: 5px;
  text-align: left;
  background-color:#fff;
}
#verEstadistucas .titulos{
  text-align: center;
}
.titulos{
  margin: 5px;
  padding: 10px 5px;
  font-size: .7rem;
  background-color: #43A047;
  color:#fff;
}

